* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    list-style: none;
    text-decoration: none;
}
.body{
    background-color: white;
    height: 100vh;
}
.header{
    height: 70px;
    width: 100%;

    position: fixed;
    box-shadow:0 3px #f1efef ;
    background-color: #f7f7f7;
    /* border-bottom: 1mm white; */
    display: table;
    z-index: 2;
}
.inner-container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.logo-container{
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    
}
.img{
    display: table;
    float:left;
}
.navigation {
    height: 100%;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navigation a {
    height: 100%;
    float: right;
    align-items: center;
    padding: 0 25px;
    display: flex;
    margin: auto;
    color: black;
    font-weight: 1000;
    font-size: 20px;    
}
.nav-toggle{
    display: none;
}
@media screen and (max-width: 450px) {
    /* .profile{
        margin: 5%;
        width: 90%;
    } */
    .logo-container{
        padding-left: 50px;
    }
    .toggle{
        color: red;
        /* display: none; */
        /* background: red; */
        float: right; 
        direction: rtl;
        align-content: center;
        padding:35px;
        padding-right: 10px;
    }
    .navigation{
        all: unset;
        display: none;
        /* opacity: 0%; */
        /* display: table; */
        position: absolute;
        margin-top: 35px;
        background-color: #f7f7f7;
        box-shadow:5px  3px 3px #f1efef ;

        height: 100vh;
        margin-right: -20px;
        /* display: none; */
 
    }
    .navigation li a{
        margin: 20px;
    }
    
    .inner-container{
        all: unset;
    }
    .nav-toggle{
        display: block;
    }
    .nav-toggle{
    display: none;
    }
    .nav-toggle-label{
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-toggle-lebel span,
    .nav-toggle-lebel span::after,
    .nav-toggle-lebel span::before{
        display: block;
        background-color: #48487f;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
        color: white;
    } 
    .nav-toggle-lebel span::after,
    .nav-toggle-lebel span::before{
        content: '';
        position: absolute;
    }
    .nav-toggle-lebel span::before{
        bottom: 7px;
    }
    .nav-toggle-lebel span::after{
        top: 7px;
    }
    .nav-toggle:checked ~ .navigation {
        opacity: 100%;
        display: table;
    }

}

