@media screen and (max-width: 768px) {
 body{
  margin: 0 auto;
  width: auto;
  
 }
 .header{
  width: 100%;
  /* overflow: hidden; */
 }
 .nevItem{
  display: none;
  overflow: hidden;
 }
 .profile{
  flex-wrap: wrap;
  flex-direction: column-reverse;
 }
 .blog{
  position:initial;
  padding-top: 5000px;
 }
}