* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    list-style: none;
    text-decoration: none;
    /* text-decoration: none; */
    /* background-color: rgb(47, 47, 160); */
}
.body{
    background-color: white;
    height: 100vh;
}

/* welcome */
.welcome{
    margin: 85px;
}

.header{
    height: 70px;
    width: 100%;

    position: fixed;
    box-shadow:0 3px #f1efef ;
    background-color: #f7f7f7;
    /* border-bottom: 1mm white; */
    display: table;
}
.inner-container{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: block;
}
.logo-container{
    height: 100%;
    float: left;
    display: table;
    padding: 0 15px;
    
}
.img{
    display: table;
    float:left;
}
.navigation {
    float: right;
    height: 100%;
    padding: 0 20px;
}
.navigation a {
    height: 100%;
    float: right;
    padding: 20px 10px;
    margin: auto 1vh;
    color: black;
    font-weight: 1000;
    font-size: 20px;
}
.main-container {
    /* background-color: yellow;
    padding-top: 100px;
    position: absolute;
    height: 500vh;
    border-radius: 50%;
    display: flex; */
    width: 90%;
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}
.row {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15%;
    margin-left: 20%;
}
.card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 400px; */
    word-wrap: break-word;
    background-color: silver;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card img {
    /* text-align: center; */
    /* margin-left: 250px; */
    align-items: center;
}
/* .card-body {
    margin: 10px 10px;
    color: black;
    border: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */