* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    list-style: none;
    text-decoration: none;

}
.body{
    background-color: white;
    height: 100vh;
}

                    /* content style */
.profile{
    padding-top: 70px;
    box-shadow:1px  3px 3px #9c8282 ;
    position: absolute;
    height: 400px;
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.content img{
    border-radius: 50%;
    padding: 25px;
    box-shadow:0 3px #f1efef ;
    margin-top: 5px;
}
.content{
    text-align: center;
}
.social{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 5px;
    margin-top: 25px;
}
.social ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;  
  
}
.social ul li  :hover{
    background: rgb(116, 113, 113);
    color: white;
    border-radius: 5px;
    box-shadow:2px 3px #a09b9b ;
}
.social ul li{
    display: table;
    /* display: flex; */
    /* flex-direction: row; */
    float:left;
    padding: 10px;


}

.form{
    padding: 75px;
}
.doc_link{
    position: absolute;
    padding-top: 80px;

}

















