* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    list-style: none;
    text-decoration: none;
    /* text-decoration: none; */
    /* background-color: rgb(47, 47, 160); */
}
.body{
    background-color: white;
    height: 100vh;
}

/* welcome */
.welcome{
    margin: 85px;
}

.header{
    height: 70px;
    width: 100%;

    position: fixed;
    box-shadow:0 3px #f1efef ;
    background-color: #f7f7f7;
    /* border-bottom: 1mm white; */
    display: table;
}
.inner-container{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.logo-container{
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    
}
.img{
    display: table;
    float:left;
}
.navigation {
    float: right;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
}
.navigation a {
    height: 100%;
    float: right;
    padding: 20px 10px;
    margin: auto 1vh;
    color: black;
    font-weight: 1000;
    font-size: 20px;
    /* position: absolute; */
    
}

                            /* profile page */

.profilePage{
    padding: 150px 25px;
    /* display: flexbox; */
    /* position: absolute; */
    /* display: table-row; */
    /* float: inline-start;   */
    display: flex;
}

.socialPage{
    display: flex;
    flex-wrap: wrap;

}

.profilePage a:hover,
.profilePage a:active {
    text-decoration: none;
    padding: 4px;
    background: #fff;
}

.profilePicture{
    border: radius 50%;
background-color: black; 
height: 195px;
width: 195px;
border-radius: 50%;  
padding: 5px 5px 5px 5px;
}
.picture{
    height: 195px;
    width: 195px;
    background-color: white;
    border-radius: 50%;
    /* padding-left: 25px; */

}